<div class="row">
    <div class="small-12 medium-8 medium-centered column">
        <h3 class="text-center">
           <%= @ref_url %>
        </h3>
        <br/>
        <div class="text-center">
            <%= link_to "Back", root_path, class: "button tiny" %>
        </div>
    </div>
</div>
