<fieldset>
    <legend>Get a free Account!</legend>
    <ul>
        <li>full administration</li>
        <li>real time statistics</li>
    </ul>
    <%= link_to "Register now !", new_user_registration_path, class: "button" %>
</fieldset>